@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
  
.heading{
    font-size: 80px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color:rgb(175, 151, 198);
}

body{
    background-color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 400px;
    height: 270px;
}

.card{
    border: 2px solid black;
    height: auto;
    margin-top: 0px;

}

.text{
    color: white;
    text-align: center;
}